body{
	header{
		background-color: darkBackground;
		color: lightColor
		width: 100%;
		overflow: auto;
		padding: 6px 0;

		nav{
			li{
				display : block;
				float: left;
				margin: 0 10px;
			}
		}

		h2{
			font-size: 22px;
			margin: 0 12px 15px;
		}
		a:link,
		a:visited,
		a:hover,
		a:active{
			color : lightColor;
			text-decoration : none;
		}

	}

	a:link,
	a:visited,
	a:hover,
	a:active{
		color : linkColor;
		text-decoration : none;
	}

	a:active{
		text-decoration : underline;
	}
}

	section#content{
		padding: 60px 200px;
		line-height: 1.4em;

		.sidebar-column{
			position: absolute;
			left: 0;
			width: 200px;
			top: 130px;

			li{
				list-style: none;
			}
		}

		.content-column{
			width: 800px;
			overflow: auto;
			min-height: 600px;
		}

		p#breadcrumbs{
			background-color: lightBackground;
			padding: 10px;
			color: #666;
			letter-spacing: 0.1em;
			font-style: italic;
		}

		p, h1, h2, h3, h4, h5, h6{
			margin: 6px 6px 12px;
		}

		h1{
			font-size : 36px;
			line-height: 1.7em;
			border-bottom: solid 2px greenBorder;
			margin: 20px auto 40px;
			font-weight: bold;
		}
		h2{
			font-size : 30px;
			line-height: 1.6em;
			padding-left: 100px;
			background-color: lightBackground;
			font-weight: bold;
		}
		h3{
			font-size : 28px;
			line-height: 1.4em;
		}
		h4{
			margin : 30px auto;
			font-size : 24px;
		}
		h5{
			margin-top : 30px;
			border-bottom: solid 1px greenBorder;
		}
		h5, h6{
			margin-left : 20px;
			font-weight: bold;
			font-size : 20px;
		}
		p{
			font-size : 16px;
		}
		pre{
			margin: 20px 100px 60px;
			background-color: #667;
			color: codeColor;
			overflow: auto;
			padding: 20px;

			code{
				font-family : "Lucida Console", Monaco, monospace;
				font-size: 13px;
			}
		}

		strong{
			font-style: oblique;
			font-weight: bold;
		}

		ul{
			margin: 0 20px 20px;
			li{
				list-style: disc;
			}
		}

		ol{
			margin: 0 20px 20px;
			li{
				list-style: decimal;
			}
		}
	}

body>footer{
	margin: 50px;
}

form#page-editor{
	position: absolute;
	z-index: 999;
	width: 80%;
	top: 152px;
	left: 200px;

	textarea{
		padding: 10px;
		font-size: larger;
		background-color: #CCA;
	}
}