<?php
/**
 * read.phtml.
 *
 * TODO: Documentation required!
 */
use SuperVillainHQ\Wiki\BreadCrumbs\BreadCrumbs;

if(!isset($title)){
	$title = 'Wiki default page title';
}
?><body>
	<header>
		<h2><a href="/"><?= $title?></a></h2>
		<nav>
			<ul>
				<li><a href="/sitemap">Sitemap</a></li>
				<li><a href="/media">Media</a></li>
			</ul>
		</nav>
	</header>
	<section id="content">
		<a href="?edit=">Edit this page</a> | <a href="?layout=">Set layout</a>
		<?php if(isset($markdown) && isset($file)){
			echo "| <a href=\"/{$file}\">Cancel editing</a>";
		}?>
		<p id="breadcrumbs"><?= BreadCrumbs::trail() ?></p>
		<div class="sidebar-column">
			<p>Page index:</p>
				<?php if(isset($anchors) && count($anchors)){
					echo "<nav>";
					echo "<ul>";
					foreach ($anchors as $anchor) {
						echo "<li>";
						echo "<a href=\"#{$anchor}\">{$anchor}</a>";
						echo "</li>";
					}
					echo "</ul>";
					echo "</nav>";
				}
				?>
		</div>
		<div class="content-column">
			<?= $html ?>
		</div>
	</section>
<?php if(isset($markdown) && isset($file)){
	echo "<form id=\"page-editor\" action=\"/update/{$file}\" method=\"post\">";
	echo "	<dl>";
	echo "		<dt><textarea style=\"width: 90%; min-height: 400px;\" name=\"markdown\">{$markdown}</textarea></dt>";
	echo "		<dt><input type=\"submit\"></dt>";
	echo "	</dl>";
	echo "</form>";
}
?>
	<footer>
		<a href="?edit=">Edit this page</a>
		<?php if(isset($markdown) && isset($file)){
			echo "| <a href=\"/{$file}\">Cancel editing</a>";
		}?>
	</footer>
</body>
