<?php
/**
 * index.phtml.
 *
 * TODO: Documentation required!
 */

use SuperVillainHQ\Config\Config;
use SuperVillainHQ\Wiki\BreadCrumbs\BreadCrumbs;use SuperVillainHQ\Wiki\SiteMap\SiteMap; ?><body>
	<header>
		<h2><a href="/"><?= trim(Config::instance()->application->title)?></a></h2>
		<nav>
			<ul>
				<li><a href="/sitemap">Sitemap</a></li>
				<li><a href="/media">Media</a></li>
			</ul>
		</nav>
	</header>
	<section id="content">
		<p id="breadcrumbs"><?= BreadCrumbs::trail() ?></p>
		<p>
			<a href="?display=default">list</a> |
			<a href="?display=tree">tree</a> |
			<a href="?display=group">categories</a>
		</p>
		<div class="content-column">
			<?php if($current = SiteMap::current()){
				$file = <<<FILE
<dl><dd><a href="{{PATH}}">{{NAME}}</a></dd></dl>
FILE;
				$current->render($file);
			}?>
		</div>
	</section>
	<footer>
		<a href="#">Add new page</a> |
		<a href="#">Export pages</a>
	</footer>
</body>
