<?php
/**
 * layout.phtml.
 *
 * TODO: Documentation required!
 */
use SuperVillainHQ\Config\Config;
?><!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><?= trim(Config::instance()->application->title)?></title>
	<style>
		@import "/css/index.css";
	</style>
</head>
<?= $this->getContent()?>
</html>
