<?php
/**
 * layout.phtml.
 *
 * TODO: Documentation required!
 */
use SuperVillainHQ\Config\Config;

?><!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><?= trim(Config::instance()->application->title)?></title>
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">	<style>
		@import "/css/index.css";
	</style>
</head>
<?= $this->getContent()?>
</html>
